.title {
  padding-top:50px;
}
.container {
  display: flex;
  flex-direction: row;
  padding-top:10px;
}

.select {
  padding-left: 20px;
  padding-right: 20px;
}

.img-coach {
  border: 5px solid #000000;
  border-radius: 150px;
  width: 300px;
  height: 300px;
  text-align: center;
}

h1 {
  text-align: center;
}


h4 {
  text-align: center;
}

.form_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}