.title {
  padding-top:50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:10px;
  width: auto;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-coach {
  border: 5px solid #000000;
  border-radius: 150px;
  margin-top: 1em;
  height: 350px;
  text-align: center;
  
 
}

h1 {
  text-align: center;
}


h4 {
  text-align: center;
}
/* 
.form_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    width: 50%;
    justify-content: space-between;
   

}

.excercise {
  
  justify-content: space-between;
}


.table{
  font-size: large;
}
} */
