.usermain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3em;
}

.usertables {
  display: flex;
  flex-direction: column;
  box-shadow: 2rem 3rem 5rem #aaa;
  background-color: #eaf2ef;
  padding: 2rem;
  border-radius: 5em;
  color: cadetblue;
}

.userimg {
  width: 20em;
  margin: 5em;
  box-shadow: 2rem 3rem 5rem #aaa;
  background-color: #eaf2ef;
  padding: 2rem;
  border-radius: 5em;
}

.userfirebutton {
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  width: 5em;
  height: 2em;
}